#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
    &kp TAB    &kp Q      &kp W     &kp E     &kp R         &kp T
    &kp LCTRL  &kp A      &kp S     &kp D     &kp F         &kp G
    &kp LSHFT  &kp Z      &kp X     &kp C     &kp V         &kp B
                          &mo 3     &kp LGUI  &kp SPACE

    &kp Y      &kp U      &kp I     &kp O     &kp P         &kp BSPC
    &kp H      &kp J      &kp K     &kp L     &kp SEMI      &kp SQT
    &kp N      &kp M      &kp COMMA &kp DOT   &kp FSLH      &kp ESC
               &kp LALT   &mo 2     &kp RET
            >;
        };

        layer_1 {
            bindings = <
    &kp Q      &kp W      &kp E     &kp R     &kp T         &kp Y      &kp U      &kp I     &kp O     &kp P
    &kp A      &kp S      &kp D     &kp F     &kp G         &kp H      &kp J      &kp K     &kp L     &kp SEMI
    &kp Z      &kp X      &kp C     &kp V     &kp B     &kp N  &kp N      &kp M      &kp COMMA &kp DOT   &kp FSLH  &kp BSPC
    &kp ESC    &kp TAB    &kp LGUI  &kp LALT  &kp LCTRL &kp LSHFT  &kp SPACE  &mo 1                &mo 2     &kp RET
            >;
        };

        layer_2 {
            bindings = <
    &kp N1     &kp N2     &kp N3    &kp N4    &kp N5        &kp N6     &kp N7     &kp N8    &kp N9    &kp N0
    &kp EXCL   &kp AT     &kp HASH  &kp DLLR  &kp PRCNT     &kp CARET  &kp AMPS   &kp STAR  &kp LPAR  &kp RPAR
    &trans     &trans     &trans    &trans    &trans    &trans &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BSLH  &kp DEL
    &trans     &trans     &trans    &trans    &trans    &trans &trans     &trans                &trans    &trans
            >;
        };

        layer_3 {
            bindings = <
    &kp F1     &kp F2     &kp F3    &kp F4    &kp F5        &kp F6     &kp F7     &kp F8    &kp F9    &kp F10
    &kp F11    &kp F12    &trans    &trans    &trans        &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT &trans
    &bt BT_CLR &bt BT_NXT &bt BT_PRV &out OUT_USB &out OUT_BLE &trans &kp HOME   &kp PG_DN  &kp PG_UP &kp END   &trans    &trans
    &trans     &trans     &trans    &trans    &trans    &trans &trans     &trans                &trans    &trans
            >;
        };
    };
};
